.img {
  width: 15vw;
  height: 30vh;
  background: none;
  border: none;
  box-shadow: -23px -23px 46px #b2b2b2, 23px 23px 46px #f0f0f0;

  /* border: solid rgb(235, 229, 229); */
}
.card-button {
  background: none;
  border: none;
  cursor: pointer;
}
.card-button:hover {
  transform: scale(1.2, 1.2);
}
.card-name {
  font-size: 1.5vh;
}
